*{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.logo{
    width: 125px;
}


.pt-1{
    padding-top: 90px !important;
}

.fs-1{
    font-size: 42px !important;
}

.social{
    font-size: 15px;
    color: rgb(30, 30, 30);
    font-weight: 300 !important;
}

.bg-dark {
    background-color: #343a40!important;
}

.p-3{
    padding-top: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-bottom: 1rem !important;
}

.m-0{
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}

.credit-text{
    font-weight: 300 !important;
}

.card{
    border: none !important;
    cursor: pointer;
}

.offercard{
    align-self: center;
    align-items: center;
}

.offerImage{
    overflow-clip-margin: content-box;
}

#age{
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 0.5px solid rgb(176, 176, 255);
    outline: none;
    padding: 5px;
}

.title{
    margin-left: 60px;
}

.calculate{
    width: 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
    border: none;
    padding: 5px;
    background-color: rgb(112, 112, 253);
    color: #fff;
    font-weight: bold;
}